
.wp-block-latest-posts__list {
  padding-left: 0;

  li {
    @extend .card;
    @extend .d-block;

    position: relative;

    padding: 1.25rem;
    margin: 0 0 1rem 0;
    overflow: hidden;

    > a {
      @extend .h3;
      @extend .d-block;
      margin-bottom: 0.25rem !important;
      padding-bottom: 0 !important;
    }

    a.read-more {
      font-size: inherit;
      margin-bottom: 0.5rem;
    }

    .wp-block-latest-posts__post-date {
      font-size: 0.9rem;
      white-space: nowrap;
      width: 6rem;
      margin-bottom: 0.5rem;

      &::before {
        content: 'Posted on ';
      }
    }

    .wp-block-latest-posts__post-excerpt {
      margin: 0;
    }

    .wp-block-latest-posts__featured-image {
      &.alignleft {
        float: left;
        margin: 0 1rem 0 0;
      }
      &.alignright {
        float: right;
        margin: 0 0 0 1rem;
      }
      img {
        margin: 0;
      }
    }

  }
}
